@mixin reset {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin container {
    margin: auto;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin size_vh {
    width: 100%;
    height: 100vh;
}

@mixin size_p {
    width: 100%;
    height: 100%;
}