// /font fam
$font-roboto: 'Roboto';
$font-Playfair-Display: 'Playfair Display';

// font weight
$Thin: 100;
$Extra-Light: 200;
$Light: 300;
$Normal: 400;
$Medium: 500;
$Semi-Bold: 600;
$Bold: 700;
$Extra-Bold: 800;
$ultra-bold: 900;

// requirements
$opacity: 0.5;
$white_color: #FFFFFF;
$font_size_16: 16px;
$cursor: pointer;